:root{
    --cor-fundo: #ecc9dc;
    --cor-principal:#ec0679;
    --cor-secundaria:#FF69B4;
    --cor-destaque:#DDA0DD;
    --cor-texto:#000000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--color-principal);
}